<footer class="footer">

  <div class="footer__social">
    <p>Síguenos:</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/share/1CPMhD6x3x/?mibextid=wwXIfr" target="_blank" aria-label="Facebook">
        <img src="assets/img/facebook-logo.png" alt="Facebook" width="24" height="24">
      </a>

      <a href="https://www.instagram.com/official_smartpoint/" target="_blank" aria-label="Instagram">
        <img src="assets/img/instagram-logo.png" alt="Instagram" width="24" height="24">
      </a>

      <a href="https://x.com/Smartpoint92196" target="_blank" aria-label="X">
        <img src="assets/img/equis-logo.png" alt="X" width="24" height="24">
      </a>

      <a href="https://www.youtube.com/@official_SmartPoint" target="_blank" aria-label="Youtube">
        <img src="assets/img/youtube-logo.png" alt="Youtube" width="24" height="24">
      </a>
      <p class="footer__text">&copy; 2025 SmartPoint. Todos los derechos reservados.</p>

    </div>
  </div>
</footer>
