.admin-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.sidebar {
  width: 240px;
  background: var(--secondary-color);
  color: #ffffff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 8px rgba(0,0,0,0.1);
  transition: transform .3s ease;
}

.sidebar .logo {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.menu a {
  padding: 14px 25px;
  color: #e5e7eb;
  text-decoration: none;
  font-size: 15px;
  transition: all 0.3s;
}

.menu a:hover {
  padding-left: 30px;
}

.menu a.active {
  background-color: var(--background-color);
  font-weight: bold;
  color: var(--text-color);
}

.content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}

.hamburger {
  display: none;
  background: var(--secondary-color);
  color: white;
  border: none;
  padding: 12px 16px;
  font-size: 22px;
  cursor: pointer;
  position: fixed;
  top: 150px;
  left: 15px;
  z-index: 1000;
  border-radius: 6px;
}


@media (max-width: 900px) {

  .hamburger {
    display: block;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    width: 240px;
    z-index: 999;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .content {
    padding-top: 70px;
  }
}
