<header class="header">
    <div class="header__top">
        <p class="header__info">Envío gratis en compras mayores a $50.00</p>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a routerLink="/location" class="header__nav-list">Ubicanos</a></li>
                <li class="header__nav-item"><a routerLink="/contact" class="header__nav-link">Contacto</a></li>
                <li class="header__nav-item"><a routerLink="/about" class="header__nav-link">Acerca de</a></li>
            </ul>
        </nav>
    </div>

    <div class="header__container" id="main-header-container">
        <div class="header__logo">
            <a routerLink=""><img src="assets/img/logo.png" alt="Logo de SmartPoint"></a>
        </div>

        <div class="header__search">
            <input id="search" type="search" class="header__search-input" placeholder="Busca tus productos..." />
        </div>

        <div class="header__user-actions">
            <div class="header__user">
                <a routerLink= "/login" class="header__user-link header__user-link--login">Iniciar Sesión</a>
                
                <a routerLink="/register" class="header__user-link header__user-link--register">Registrarse</a>
            </div>
            
            <a href="#cart" class="header__cart" aria-label="Carrito de compras">
                <span class="header__cart-total">$0.00</span>
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <button class="header__hamburger" id="hamburger-btn" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>

    <nav class="header__menu" id="main-menu">
        <ul class="header__menu-list">
            @for(cat of categories(); track cat.id_categorias) {
                <li class="header__menu-item">
                    <a 
                        class="header__menu-link"
                        [routerLink]="['/categoria', cat.id_categorias]"
                    >
                        {{ cat.fldNombre }}
                    </a>
                </li>
            }
        </ul>
    </nav>

</header>
